.box {
    margin: 8px 0;
}

.title {
    padding-bottom: 5px;
}

.line {
    position: relative;
    background-color: white;
    height: 5px;
    border-radius: 50%;
}

.progressLine {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff651c;
    width: 100px;
    height: 5px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}

.lineTitle {
    font-size: 12px;
    position: absolute;
    background-color: white;
    color: #ff651c;
    bottom: 13px;
    right: 0;
    height: 1.5em;
    width: 3em;
    text-align: center;
    border-radius: 4px;
    border-bottom-right-radius: 0;
}

.lineTitle::after {
    content:'';
    position: absolute;
    bottom: -0.38rem;
    right: 0;
    border: 3px solid rgba(0, 0, 0, 0);
    border-top-color: white;
    border-right-color: white;
}