.mainBlock {
    background-image: linear-gradient(135deg, rgb(255 101 28) 30%, rgb(17 17 17) 35%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(33 37 41);
    flex-flow: row wrap;
    align-items: center;
    margin: 20px 0;
    max-width: 70%;
    border-radius: 20px;
    padding: 20px;
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
}

.photo {
    width: 300px;
    height: 400px;
}

.aboutMe {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
    width: 60%;
}

p, h1 {
    text-align: center;
    color: white
}

p {
    opacity: 0.5;
}

.aboutMeText {
    font-family: 'Lato', sans-serif;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.4rem;
    color: #857777;
    font-size: 16px;
}

.btnBox {
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.homeProfile {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    max-width: 100%;
}

.homeProfile img {
    border-radius: 10px;
    display: block;
    border: none;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.8);
    width: 100%;
}


@media screen and (max-width: 1356px) {
    .aboutMe {
        width: 100%;
        height: auto;
    }

    .container {
        padding: 0 30px 30px 30px;
    }
}



