
body {
  margin: 0;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, sans-serif;
  line-height: 120%;
  font-weight: 700;
  margin: 0 0 15px;
  color: white;
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
  overflow: hidden;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}


/* Стрелки */

