.workContainer {
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    width: 40%;
    height: 60%;
    padding: 20px;
    margin: 20px;
    opacity: 0.3;
    transition: all 0.5s ease;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
}


.description {
    visibility: hidden;
    word-wrap: break-word;
    max-width: 100%;
    text-align: center;
    background-image: linear-gradient(45deg, #ff651c 20%, #b5003e,  #ff651c);
    padding: 10px;
    border-radius: 5px;
}

.title {
    visibility: hidden;

}

.title h3 {
    font-weight: 900;
    color: white;
    background-image: linear-gradient(45deg, #ff651c 20%, #b5003e,  #ff651c);
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

.btnBox {
    visibility: hidden;
    padding: 25px 0;
    display: flex;
    justify-content: center;
}


.workContainer:hover {
    opacity: 1;
}

.workContainer:hover  .description {
    visibility: visible;
}
.workContainer:hover .btnBox {
    visibility: visible;
}
.workContainer:hover .title {
    visibility: visible;
}

@media screen and (max-width: 1217px) {
    .workContainer {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .workContainer {
        height: 200px;
        font-size: 16px;
    }
}

